.form{
  background-color: transparent;
}
.form input {
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  padding: 10px 15px;
  color: black;
  font-size: 1.2rem;
  border-radius: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.635);
  border: 1px solid rgba(116, 117, 125, 0.527);
}

.form input:focus{
  border: 1px solid rgba(94, 110, 226, 0.527);
  background-color: white;
}